*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
  font-weight: normal;
  color: #FFF;
}

body {
	display: flex;

	}

.calculator {
	background: rgb(35, 5, 82);
	margin: auto;
	height: 682px;
	width: 430px;
	border-radius: 8px;
  
}
/*расположение  калькулятора*/
.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 72.5vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

.color {
	background: linear-gradient(to bottom right, #510E75, #9C0B92);
}
/*редактирование кнопок*/
.calculator-grid > button {
	cursor: pointer;
	font-size: 2.8rem;
	outline: none;
	background-color: rgb(51, 13, 94);
	border: 3.8px solid #230552;
	border-radius: 8px;
}
/*изменение цвета кнопок, при наведении; клик*/
.calculator-grid > button:hover {
	background: rgb(67, 18, 122);
}
button.click:active {
    background: rgb(214, 19, 127);
    border: 2px solid #FFF;
}
button.span-two:active {
	background: linear-gradient(to bottom right, #510E75, #D6137F);
    border: 2px solid #FFF;
}
button.equally-two:active {
	background: linear-gradient(to bottom right, #510E75, #D6137F);
    border: 2px solid #FFF;
}
button.plus-two:active {
	background: linear-gradient(to bottom right, #510E75, #D6137F);
    border: 2px solid #FFF;
}
button.color:active {
	background: linear-gradient(to bottom right, #510E75, #D6137F);
    border: 2px solid #FFF;
}
button.click {
    font-size: 4rem;
    }
/*удваиваем нужные кнопки*/
.span-two {
	grid-column: 1 / -3;
	background: linear-gradient(to bottom right, #510E75, #D6137F);
}

.equally-two {
	grid-column: -1 / -3;
	background: linear-gradient(to bottom right, #510E75, #D6137F);
}

.plus-two {
	grid-column: -2;
	grid-row: 4 / span 2;
	background: linear-gradient(to bottom right, #510E75, #D6137F);
}
/*панель, где будут печататься числа*/
.output {
	grid-column: 1 / -1;
	background-image: linear-gradient(to bottom left, #510E75, #9C0B92);
	display: flex; /*выравнивание элементов*/
	align-items: flex-end;
	justify-content: space-between; /*промежуток между элементами*/
	flex-direction: column; /*расположение элементов вертикально*/
	padding: 5px; /*отступ элемента от края*/
	word-wrap: break-word; /*разрыв слов (во время переноса строки или пробела)*/
	word-break: break-all;
	outline: none;
	background-color: rgb(51, 13, 94);
	border: 4px solid #230552;
	border-radius: 8px;
	height: 14.7vh;
}
/*первый текстовый элемент, в котором будут происходить действия*/
.output .previous-operand {
	color: rgba(255, 255, 255, .75);
	font-size: 2rem;
}
/*второй текстовый элемент, в котором будет показан итог*/
.output .current-operand {
	color: white;
	font-size: 5rem;
}
